# Will execute the user_data.sh script on each build/test to add custom values, links, and tags in the Build Scan data
startup --workspace_status_command=%workspace%/user_data.sh

# Import the user-specific settings that are set by provision_bazelrc.sh
# This will include the Develocity Server and Access Key 
try-import %workspace%/user.bazelrc

# Without setting these 2 values, Build Scan data will not be complete
common:develocity --build_event_publish_all_actions=true
common:develocity --noslim_profile
common:develocity --experimental_collect_system_network_usage

# Uses the above configurations for build/test
build --config=develocity
