# macOS
.DS_Store

# Bazel output and private `user.bazelrc` file
bazel-*
user.bazelrc

# Bazel profile and BEP captures
*profile.json
*bep.json

# IntelliJ files
.ijwb/

# This example project uses the legacy workspace approach
# Running ./provision_bazelrc.sh will set the appropriate
# flags to prevent Bazel from working with modules, but
# IntelliJ doesn't seem to pick those up when sync'ing.
MODULE.bazel
MODULE.bazel.lock

